#hand{
    li{
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        padding: 4px;
        margin: 2px;
        width: 140px;

        &:hover{
            background-color: #f0f0f0;
        }
    }
}