ul.card{
    list-style-type: none;
    display: flex;
    li{
        cursor: pointer;
        padding: 4px;
        margin: 2px;
        border: 1px solid white;

        width: 100px;
        height: 177px;
        border-radius: 15px;
        background-image: url(assets/cards.jpg);
    
        &.playable{
            border-color: green;
            
            &:hover{
                transition: ease-in-out 0.2s;
                transform: translateY(-10px) !important;
                zoom: 1.07;
                z-index: 10;
            }
        }

        &.eichel{
            background-position-y: -11px;
        }

        &.gras{
            background-position-y: -200px;
        }

        &.herz{
            background-position-y: -392px;
        }

        &.schellen{
            background-position-y: -584px;
        }

        &.ober{
            background-position-x: -363px;
        }

        &.unter{
            background-position-x: -481px;
        }

        &.sieben{
            background-position-x: -833px;
        }

        &.acht{
            background-position-x: -715px;
        }

        &.neun{
            background-position-x: -598px;
        }

        &.zehn{
            background-position-x: -129px;
        }

        &.koenig{
            background-position-x: -246px;
        }

        &.ass{
            background-position-x: -11px;
        }       
    }

}

ul#hand li{
    transform-origin: bottom center;
    margin-right: -70px;
}

ul#table{
    height: 500px;
    width: 500px;
    background-color: darkolivegreen;
    border-radius: 10px;
    position: relative;

    li{
        position: absolute;
        transform-origin: center center; 
        &.player0{
            bottom: 60px;
            left: 220px;
            rotate: 10deg;
        }
        &.player1{
            left: 130px;
            top: 150px;
            rotate: 100deg;
        }

        &.player2{
            top: 60px;
            left: 220px;
            rotate: 170deg;
        }

        &.player3{
            rotate: 80deg;
            right: 130px;
            top: 150px;
        }
    }
}

.your-turn{
    color: white;
    padding: 4px;
    background-color: green;
}

