@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

#declare_buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;

    button{
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: hsl(0, 40%, 51%);
        color: white;
        cursor: pointer;

        &:hover{
            background-color: hsl(0, 60%, 51%);
        }
    }
}

ul.card{
    list-style-type: none;
    display: flex;
    li{
        cursor: pointer;
        padding: 4px;
        margin: 2px;
        border: 1px solid white;

        width: 100px;
        height: 177px;
        border-radius: 15px;
        background-image: url(assets/cards.jpg);
    
        &.playable{
            border-color: green;
            
            &:hover{
                transition: ease-in-out 0.2s;
                transform: translateY(-10px) !important;
                zoom: 1.07;
                z-index: 10;
            }
        }

        &.eichel{
            background-position-y: -11px;
        }

        &.gras{
            background-position-y: -200px;
        }

        &.herz{
            background-position-y: -392px;
        }

        &.schellen{
            background-position-y: -584px;
        }

        &.ober{
            background-position-x: -363px;
        }

        &.unter{
            background-position-x: -481px;
        }

        &.sieben{
            background-position-x: -833px;
        }

        &.acht{
            background-position-x: -715px;
        }

        &.neun{
            background-position-x: -598px;
        }

        &.zehn{
            background-position-x: -129px;
        }

        &.koenig{
            background-position-x: -246px;
        }

        &.ass{
            background-position-x: -11px;
        }       
    }

}

ul#hand{
    margin-bottom: 60px;    
    padding-left: 90px;
    
    li{
        transform-origin: bottom center;
        margin-right: -70px;
    }
}


body{
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    color: white;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    &.your-turn{
        div#felt{
            background-color: darkolivegreen;
        }
        #shuffle{
            display: block;
        }
    }
}

div#felt{
    height: 500px;
    width: 500px;
    background-color: rgb(168, 188, 133);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.player0{
        align-items: flex-end;
        justify-content: center;
    }
    &.player1{
        align-items: center;
        justify-content: flex-start;
    }
    &.player2{
        align-items: flex-start;
        justify-content: center;
    }
    &.player3{
        align-items: center;
        justify-content: flex-end;
    }


    ul#trick{
        width: 270px;
        height: 280px;
        position: absolute;
        margin: 0;

        li{
            transform-origin: center center; 
            position: absolute;
            top: 0;
            left: 0px;

            &.player0{
               transform: translate(100px, 70px) rotate(10deg);
            }
            &.player1{
                transform: translate(50px, 40px) rotate(80deg);
            }

            &.player2{
                transform: translate(100px, 10px) rotate(-10deg);
            }

            &.player3{
                transform: translate(150px, 40px) rotate(100deg);
            }
        }
    }
}

body.player0 #table,
body.player1 #table,
body.player2 #table,
body.player3 #table{
     .player-bottom,  .player-top{
        text-align: center
    }
}

body.player0{
    #table{
        transform: rotate(0deg);
    }
    .player-left{
        transform: rotate(-90deg);
    }
    .player-right{
        transform: rotate(90deg);
    }
}
body.player1{
    #table{
        transform: rotate(-90deg);
    }
    .player-left{
        transform: rotate(-90deg);
    }
    .player-right{
        transform: rotate(90deg);
    }
    .player-bottom{
        transform: rotate(180deg);
    }
    .player-left{
        transform: rotate(90deg);
    }
}
body.player2{
    #table{
        transform: rotate(-180deg);
    }
    .player-left{
        transform: rotate(270deg);
    }
    .player-right{
        transform: rotate(90deg);
    }
    .player-bottom{
        transform: rotate(180deg);
    }
    .player-top{
        transform: rotate(180deg);
    }
}
body.player3{
    #table{
        transform: rotate(-270deg);
    }
    .player-left{
        transform: rotate(-90deg);
    }
    .player-right{
        transform: rotate(-90deg);
    }
    .player-top{
        transform: rotate(0);
    }
    .player-bottom{
        transform: rotate(180deg);
    }
}
