#hand{
    li{
        cursor: pointer;
        border: 1px solid black;
        border-radius: 8px;
        padding: 4px;
        margin: 2px;
        width: 140px;

        &:hover{
            background-color: #f0f0f0;
        }

        &.playable{
            border: 2px solid green;
            font-weight: bold; 
            background-color: #e0ffe0;
        }
        
    }
}

.your-turn{
    color: white;
    padding: 4px;
    background-color: green;
}