ul.card{
    list-style-type: none;
    display: flex;
    li{
        cursor: pointer;
        padding: 4px;
        margin: 2px;
        border: 1px solid white;

        width: 100px;
        height: 177px;
        border-radius: 15px;
        background-image: url(assets/cards.jpg);
    
        &.playable{
            border-color: green;
            
            &:hover{
                transition: ease-in-out 0.2s;
                transform: translateY(-10px) !important;
                zoom: 1.07;
                z-index: 10;
            }
        }

        &.eichel{
            background-position-y: -11px;
        }

        &.gras{
            background-position-y: -200px;
        }

        &.herz{
            background-position-y: -392px;
        }

        &.schellen{
            background-position-y: -584px;
        }

        &.ober{
            background-position-x: -363px;
        }

        &.unter{
            background-position-x: -481px;
        }

        &.sieben{
            background-position-x: -833px;
        }

        &.acht{
            background-position-x: -715px;
        }

        &.neun{
            background-position-x: -598px;
        }

        &.zehn{
            background-position-x: -129px;
        }

        &.koenig{
            background-position-x: -246px;
        }

        &.ass{
            background-position-x: -11px;
        }       
    }

}

ul#hand li{
    transform-origin: bottom center;
    margin-right: -70px;
}

div#felt{
    height: 500px;
    width: 500px;
    background-color: darkolivegreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.player0{
        align-items: flex-end;
        justify-content: center;
    }
    &.player1{
        align-items: center;
        justify-content: flex-start;
    }
    &.player2{
        align-items: flex-start;
        justify-content: center;
    }
    &.player3{
        align-items: center;
        justify-content: flex-end;
    }


    ul#deck{
        width: 270px;
        height: 280px;
        position: absolute;
        margin: 0;

        li{
            transform-origin: center center; 
            position: absolute;
            top: 0;
            left: 0px;

            &.player0{
               transform: translate(100px, 70px) rotate(10deg);
            }
            &.player1{
                transform: translate(50px, 40px) rotate(80deg);
            }

            &.player2{
                transform: translate(100px, 10px) rotate(-10deg);
            }

            &.player3{
                transform: translate(150px, 40px) rotate(100deg);
            }
        }
    }
}

.your-turn{
    color: white;
    padding: 4px;
    background-color: green;
}

